.body {
    background-image: url("../Assets/img/background.svg");
    background-color: black;
    height: 720px;
    width: 1280px;

}

.nologin {
    margin-left: 100px;
    margin-top: 20px;
    display: flex;    
}

.col-1 {
    margin-top: 100px;
    margin-left: 100px;
}

.listen {
    color: white;
    font-size: 50px;       
}

.everything {
    color: green;
    font-size: 60px;
}

.logo-1 {
    width: 50px;
}

h2 {
    color: green;
    font-size: 80px;
}

.p-1 {
    color: white;
}

.form-1 {
    justify-content: end;
    text-align: end;
    margin-right: 50px;
    margin-bottom: 100px;
}